<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

   <til><img src="resource/bars-solid2.png"/></til>

    <back>

        <div class="up">
        <div class="up-bar">
        
    <h1>Select the Branch</h1>

    <form>

        <select name="branch">
            <option value="colombo">Colombo</option>
            <option value="kandy">Kandy</option>
            <option value="Galle">Galle</option>
            <option value="panadura">Panadura</option>
        </select>

    </form>
    
        <button class="first_btn">Navigate Me</button>
        <button class="second_btn">Let's Shop</button>

        </div>
        </div>
    </back>
</body>
</html>